// Here you can add other styles
/***** GLOBAL ******/
.app-header.navbar .navbar-brand {background-image: none; display: block; font-size: 16px; line-height: 38px;}
.app-header.navbar { padding-right: 30px; }
.breadcrumb a { color: $light-blue}
.footer a { color: $light-blue}
.aside-menu a { color: $light-blue; }
.aside-menu .callout .badge {position: absolute; right: 30px; bottom: 15px;}
.card {	color: $card-body-color;}
.card a { color: $base-blue; }
.switch-info > .switch-input:checked ~ .switch-label { background: $base-blue !important; border-color: $dark-blue;}

// /***** DASHBOARD *****/
.dashboard-container .at-a-glance-card > .card-body { padding: 0; }
.dashboard-container .at-a-glance-card > .card-body .card { margin-bottom: 0; border: none; border-bottom: 1px solid $gray-800; }
.dashboard-container .recent-activity-card .row,
.dashboard-container .your-characters-card .row { padding: 12px 0; border-bottom: 1px solid $gray-800; }
.dashboard-container .recent-activity-card .row:first-child,
.dashboard-container .your-characters-card .row:first-child { padding-top: 0 }
.dashboard-container .recent-activity-card .row:last-child,
.dashboard-container .your-characters-card .row:last-child { border-bottom: none;}
.dashboard-container .your-characters-card .row { text-align: center;}

.dashboard-container .random-thread-generator-card,
.dashboard-container .patreon-card { height: 185px;}
.dashboard-container .random-thread-generator-card .card-body,
.dashboard-container .patreon-card .card-body {  text-align: center; }
.dashboard-container .patreon-card a {color: $white}


@include media-breakpoint-up(xs) {
	// above 576px
}
@include media-breakpoint-up(sm) {
	// above 768px
	.dashboard-container .at-a-glance-card > .card-body .card { border-left: 1px solid $gray-800;}
	.dashboard-container .at-a-glance-card > .card-body .card:first-child { border-left: none;}
	.dashboard-container .at-a-glance-card > .card-body .card:last-child { border-right: none;}
}
@include media-breakpoint-up(md) { 
	// above 992px
	
	.dashboard-container .recent-activity-card,
	.dashboard-container .your-characters-card { height: 400px; overflow: auto;}
}
@include media-breakpoint-up(lg) { 
	// above 1200px
}
@include media-breakpoint-up(xl) { 
	// 1200px and over
}
