// Here you can add other styles
/***** GLOBAL ******/
.app-header.navbar .navbar-brand {background-image: none; display: block; font-size: 16px; line-height: 38px;}
.app-header.navbar { padding-right: 30px; }
.app-header.navbar .navbar-toggler { height: 55px; }
.app-header.navbar .navbar-nav button { border: 1px solid $white; border-radius: 5px; }
.breadcrumb a { color: $light-blue}
.footer a { color: $light-blue}
.aside-menu a { color: $light-blue; }
.aside-menu .callout .badge {position: absolute; right: 30px; bottom: 15px;}
.card {	color: $card-body-color;}
.card a { color: $base-blue; }
.switch-info > .switch-input:checked ~ .switch-label { background: $base-blue !important; border-color: $dark-blue;}
.nav-tabs { border-bottom: none; }
.nav-tabs .nav-link { background: $nav-tab-link-bg; color: $tab-content-color; margin-right: 10px; }
.nav-tabs .nav-link,
.nav-tabs .nav-link:hover,
.nav-tabs .nav-link.active,
.nav-tabs .nav-link.active:focus
	{ border-color: $tab-content-border-color; border-bottom: none; }
.nav-tabs .nav-link.active, .nav-tabs .nav-link.active:focus { background: $tab-content-bg; color: $light-blue; }
.tab-content { background: none; color: $tab-content-color; border: none; border-top: none; }

// /******** LOADING SPINNER ********/
@keyframes lds-spinner {
	0% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	}
  }
  @-webkit-keyframes lds-spinner {
	0% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	}
  }
  .lds-spinner {
	position: relative;
  }
  .lds-spinner div {
	left: 94px;
	top: 48px;
	position: absolute;
	-webkit-animation: lds-spinner linear 1s infinite;
	animation: lds-spinner linear 1s infinite;
	background: #418ce4;
	width: 12px;
	height: 24px;
	border-radius: 40%;
	-webkit-transform-origin: 6px 52px;
	transform-origin: 6px 52px;
  }
  .lds-spinner div:nth-child(1) {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-animation-delay: -0.916666666666667s;
	animation-delay: -0.916666666666667s;
  }
  .lds-spinner div:nth-child(2) {
	-webkit-transform: rotate(30deg);
	transform: rotate(30deg);
	-webkit-animation-delay: -0.833333333333333s;
	animation-delay: -0.833333333333333s;
  }
  .lds-spinner div:nth-child(3) {
	-webkit-transform: rotate(60deg);
	transform: rotate(60deg);
	-webkit-animation-delay: -0.75s;
	animation-delay: -0.75s;
  }
  .lds-spinner div:nth-child(4) {
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-animation-delay: -0.666666666666667s;
	animation-delay: -0.666666666666667s;
  }
  .lds-spinner div:nth-child(5) {
	-webkit-transform: rotate(120deg);
	transform: rotate(120deg);
	-webkit-animation-delay: -0.583333333333333s;
	animation-delay: -0.583333333333333s;
  }
  .lds-spinner div:nth-child(6) {
	-webkit-transform: rotate(150deg);
	transform: rotate(150deg);
	-webkit-animation-delay: -0.5s;
	animation-delay: -0.5s;
  }
  .lds-spinner div:nth-child(7) {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
	-webkit-animation-delay: -0.416666666666667s;
	animation-delay: -0.416666666666667s;
  }
  .lds-spinner div:nth-child(8) {
	-webkit-transform: rotate(210deg);
	transform: rotate(210deg);
	-webkit-animation-delay: -0.333333333333333s;
	animation-delay: -0.333333333333333s;
  }
  .lds-spinner div:nth-child(9) {
	-webkit-transform: rotate(240deg);
	transform: rotate(240deg);
	-webkit-animation-delay: -0.25s;
	animation-delay: -0.25s;
  }
  .lds-spinner div:nth-child(10) {
	-webkit-transform: rotate(270deg);
	transform: rotate(270deg);
	-webkit-animation-delay: -0.166666666666667s;
	animation-delay: -0.166666666666667s;
  }
  .lds-spinner div:nth-child(11) {
	-webkit-transform: rotate(300deg);
	transform: rotate(300deg);
	-webkit-animation-delay: -0.083333333333333s;
	animation-delay: -0.083333333333333s;
  }
  .lds-spinner div:nth-child(12) {
	-webkit-transform: rotate(330deg);
	transform: rotate(330deg);
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
  }
  .lds-spinner {
	width: 50px !important;
	height: 50px !important;
	-webkit-transform: translate(-25px, -25px) scale(0.25) translate(25px, 25px);
	transform: translate(-25px, -25px) scale(0.25) translate(25px, 25px);
  }
// /***** DASHBOARD *****/
.dashboard-container .at-a-glance-card > .card-body { padding: 0; }
.dashboard-container .at-a-glance-card > .card-body .card { margin-bottom: 0; border: none; border-bottom: 1px solid $gray-800; border-right: 1px solid $gray-800; }
.dashboard-container .recent-activity-card .row,
.dashboard-container .your-characters-card .row { padding: 12px 0; border-bottom: 1px solid $gray-800; }
.dashboard-container .recent-activity-card .row:first-child,
.dashboard-container .your-characters-card .row:first-child { padding-top: 0 }
.dashboard-container .recent-activity-card .row:last-child,
.dashboard-container .your-characters-card .row:last-child { border-bottom: none;}
.dashboard-container .your-characters-card .row div:first-child { text-align: left;}

.dashboard-container .random-thread-generator-card,
.dashboard-container .patreon-card { height: 180px;}
.dashboard-container .random-thread-generator-card .card-body,
.dashboard-container .patreon-card .card-body {  text-align: center; }
.dashboard-container .card a.btn {color: $white}

.dashboard-container .random-thread-result { padding: 10px; margin: 10px; background: rgba(50, 50, 50, 0.5)}
.dashboard-container .random-thread-result p { margin: 0; }

/********** THREADS ********/
.threads-container { color: $card-body-color; }
.thread-table-sub-component { background: $gray-600; border-bottom: 3px solid $gray-400;}
.thread-table-sub-component .control-button { width: 20%; display: inline-block; text-align: center; padding: 10px;}
.thread-table-sub-component .tag-display-wrapper { padding: 5px 15px; display: inline-block; color: $gray-300;}
.thread-filter-card .card-header { text-align: right; }
.thread-filter-card .card-header span { cursor: pointer; }

/********** MANAGE CHARACTERS *********/
.track-new-character-form .form-group .col-12 { margin-bottom: 10px;}
.character-table-sub-component { background: $gray-600; border-bottom: 3px solid $gray-400;}
.character-table-sub-component .control-button { width: 33%; display: inline-block; text-align: center; padding: 10px;}

/*********** TOOLS ***************/
.manage-tags .table td { border-top: 1px solid $gray-700;}
.manage-tags .table tr:first-child td { border-top: none;}
.manage-tags .table tr:first-child { border-top: 1px solid $gray-300; }
.manage-tags .table tr td:first-child { width: 33%}

/********** STATIC *********/
.help-container .support-topics .support-button {text-align: center; }

@include media-breakpoint-up(xs) {
	// above 576px
}
@include media-breakpoint-up(sm) {
	// above 768px
	.dashboard-container .at-a-glance-card > .card-body .card { border-left: 1px solid $gray-800;}
	.dashboard-container .at-a-glance-card > .card-body .card:first-child { border-left: none;}
	.dashboard-container .at-a-glance-card > .card-body .card:last-child { border-right: none;}
}
@include media-breakpoint-up(md) {
	// above 992px

	.dashboard-container .recent-activity-card,
	.dashboard-container .your-characters-card { height: 400px; overflow-y: auto; overflow-x: hidden;}
}
@include media-breakpoint-up(lg) {
	// above 1200px
}
@include media-breakpoint-up(xl) {
	// 1200px and over
}
