{
	"extends": ["airbnb", "plugin:prettier/recommended"],
	"env": {
		"browser": true,
		"jest": true
	},
	"globals": {
		"API_BASE_URL": false,
		"TUMBLR_CLIENT_BASE_URL": false,
		"page": true,
		"browser": true
	},
	"rules": {
		// "comma-dangle": ["error", "never"],
		// "linebreak-style": ["error", "unix"],
		// "indent": [
		// 	"error",
		// 	"tab",
		// 	{
		// 		"SwitchCase": 1
		// 	}
		// ],
		// "no-tabs": "off",
		"react/jsx-indent": ["error", "tab"],
		// "react/destructuring-assignment": [
		// 	"error",
		// 	"always",
		// 	{
		// 		"ignoreClassFields": true
		// 	}
		// ],
		"react/jsx-filename-extension": "off",
		"react/jsx-one-expression-per-line": "off",
		"react/sort-comp": [
			"error",
			{
				"order": ["lifecycle", "static-methods", "everything-else", "render"]
			}
		],
		"class-methods-use-this": "off",
		"no-plusplus": "off",
		"react/jsx-indent-props": ["error", "tab"],
		// "arrow-body-style": ["error", "as-needed"],
		// "no-confusing-arrow": [
		// 	"error",
		// 	{
		// 		"allowParens": true
		// 	}
		// ],
		// "import/no-extraneous-dependencies": [
		// 	"error",
		// 	{
		// 		"devDependencies": ["**/*.test.js", "**/*.spec.js", "**/config/**", "**/*webpack*"]
		// 	}
		// ],
		"react/jsx-wrap-multilines": [
			"error",
			{
				"prop": "ignore"
			}
		],
		"require-yield": "off"
		// "jsx-a11y/label-has-for": [
		// 	"error",
		// 	{
		// 		"components": ["Label"],
		// 		"required": {
		// 			"every": ["id"]
		// 		},
		// 		"allowChildren": false
		// 	}
		// ],
		// "object-curly-newline": "off",
		// "arrow-parens": ["error", "always"]
	},
	"settings": {
		"import/resolver": {
			"webpack": {
				"config": "webpack.common.js"
			}
		}
	}
}
