{
	"extends": ["airbnb", "airbnb/hooks", "plugin:prettier/recommended"],
	"env": {
		"browser": true,
		"jest": true
	},
	"parser": "@babel/eslint-parser",
	"globals": {
		"API_BASE_URL": false,
		"TUMBLR_CLIENT_BASE_URL": false,
		"page": true,
		"browser": true
	},
	"rules": {
		"react/jsx-indent": ["error", "tab"],
		"react/jsx-filename-extension": "off",
		"react/jsx-one-expression-per-line": "off",
		"react/sort-comp": [
			"error",
			{
				"order": ["lifecycle", "static-methods", "everything-else", "render"]
			}
		],
		"class-methods-use-this": "off",
		"no-plusplus": "off",
		"react/jsx-indent-props": ["error", "tab"],
		"react/jsx-wrap-multilines": [
			"error",
			{
				"prop": "ignore"
			}
		],
		"require-yield": "off"
	},
	"settings": {
		"import/resolver": {
			"webpack": {
				"config": "webpack.common.js"
			}
		}
	}
}
