.breadcrumb-wrapper { background-color: $breadcrumb-bg; border-bottom: 1px solid $gray-600; margin-bottom: 1.5 * $spacer; }
.breadcrumb { border-bottom: none; margin-bottom: 0; }
.breadcrumb a { color: $light-blue}
