.app-header.navbar .navbar-brand {background-image: none; font-size: 16px; line-height: 38px;}
.app-header.navbar { padding-right: 30px; }
.app-header.navbar .navbar-toggler { height: 55px; }
.app-header.navbar .navbar-brand { height: 53px; }
.app-header.navbar .navbar-nav button { border: 1px solid $white; border-radius: 5px; margin-right: 10px; }
@media (max-width: 991px) {
.app-header .navbar-brand { position: relative; left: auto; margin: 0;}
}
