.modal-dialog {
	.form-text { opacity: 0.8; }
	.form-control-label { font-weight: bold; opacity: 0.8; width: 100%; }
}

.multiple-value-text-input-item-container { 
	padding: .5rem 0 0;
	.multiple-value-text-input-item {
		border-radius: 5px;
	}
}
.public-view-form-turn-section {
	padding: 15px 0 ; background: #ddd;
}
