.modal-dialog {
	.form-text { opacity: 0.8; }
	.form-control-label { font-weight: bold; opacity: 0.8; }
}

.multiple-value-text-input-item-container { 
	padding: .5rem 0;
	margin-top: -.5rem; 
	.multiple-value-text-input-item {
		border-radius: 5px;
		background: $gray-100;
		padding: .3rem .5rem;
		margin-right: .5rem;
	}
}
