.track-new-character-form .form-group .col-12 { margin-bottom: 10px;}
.character-table-sub-component { background: $gray-600; border-bottom: 3px solid $gray-400;}
.character-table-sub-component .control-button { width: 33%; display: inline-block; text-align: center; padding: 10px;}
