.public-threads-container {
	color: $gray-100;
	.app-header.navbar.public-header {
		position: relative;
		margin: 0; padding: 0;
		margin-bottom: 30px; 
		margin-top: 10px; 
		padding: 5px; 
		
		ul { text-align: right; margin-right: 10px; }
		.navbar-brand {
			line-height: 50px;
			text-transform: uppercase;
			height: 50px;
			margin: 0;
			padding: 0;
			margin-left: 10px;
		}
		h1 {
			font-size: 1.5rem;
		}
	}

	.app-footer { margin: 0; background: none; border: none; }
}