.threads-container { color: $card-body-color; }
.thread-table-sub-component { background: $gray-600; border-bottom: 3px solid $gray-400;}
.thread-table-sub-component .tag-display-wrapper { padding: 5px 15px; display: inline-block; color: $gray-300;}
.thread-bulk-update-controls, .tag-filter-select, .thread-refresh-button { text-align: center; margin-bottom: 10px; background: $gray-900; padding:10px; }
.thread-bulk-update-controls .btn { margin-left: 10px;}
.thread-refresh-button .btn { width: 100%; }
