.manage-tags .table td { border-top: 1px solid $gray-700;}
.manage-tags .table tr:first-child td { border-top: none;}
.manage-tags .table tr:first-child { border-top: 1px solid $gray-300; }
.manage-tags .table tr td:first-child { width: 33%}
